body {
    background-color: #000 !important;
}

    body a {
        color: #fff;
    }

    body p {
        color: #fff;
    }

    body span {
        color: #fff;
    }

    body li {
        color: #fff;
    }

/*header*/
.top-info {
    background: #161616;
}

.top-info-mb {
    background: #cfd2d8;
}

.box-border {
    border: 3px solid #000;
}


.dropdown .dropdown-menu {
    color: #212529;
    background-color: #fff;
}



.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
    color: #fff;
    background-color: #dc3545;
}

/*Responsive*/
@media only screen and (max-width: 768px) {


    ul.top-info-mb {
        background-color: #161616;
    }
}


@media only screen and (max-width: 425px) {

    ul.top-info-mb {
        background-color: #161616;
    }
}

@media only screen and (max-width: 375px) {

    .navbar-dark .navbar-brand {
        color: #fff;
    }

    ul.top-info-mb {
        background-color: #161616;
    }
}
