body {
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
}

.clear {
    clear: both;
}

.top-info {
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    margin-top: 15px;
}

.top-info-mb {
    padding: 1%;
    margin-top: 0px;
    font-size: 11px;
}

.list-inline li {
    display: inline;
}

.top-info li {
    padding-right: 8px;
}

.top-info-mb li {
    padding-right: 8px;
}

.top-icons {
    float: left;
    padding-left: 0px;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -74px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
    text-decoration: none;
}
/*chat section*/
.chat-sect-ul {
    list-style-type: none;
}

ul.list-inline.notify {
    margin-bottom: 0;
}

.icons-top {
    /*margin-top:140px!important;*/
}

ul.main-icons li {
    margin-right: 3%;
}

.icon-bottom {
    margin-bottom: 20px;
    cursor: pointer;
}

    .icon-bottom span {
        display: block;
        font-size: 10px;
    }

.rooms-title {
    display: none;
}

.top-info-mb {
    display: none;
}

.dropdown-menu.notification-top {
    width: 270px;
    left: -140px;
}

ul.dropdown-menu.notification-top li:nth-child(odd) {
    background: #fff;
    padding: 10px;
}

ul.dropdown-menu.notification-top li:nth-child(even) {
    background: #eee;
    padding: 10px;
}

img.user-menu2 {
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}

.notification-font {
    font-size: 9px;
    font-family: arial;
    color: #333;
}

ul.dropdown-menu.notification-top li.dropdown-item {
    padding: 5px;
    height: 51px;
}


/**********On load hide white-icons**********/
.room-link .room-white-img,
.contact-link .contact-white-img,
.chats-link .chats-white-img,
.connection-link .connection-white-img,
.mic-link .mic-white-img,
.screen-link .screen-white-img,
.pad-link .pad-white-img,
.video-link .video-white-img,
.setting-link .setting-white-img,
.participant-link .participant-white-img,
.notification-link .notification-white-img {
    display: none;
}

/**********On active or hover hide black-icons**********/
.room-link.active .room-img,
.room-link:hover .room-img,
.contact-link.active .contact-img,
.contact-link:hover .contact-img,
.chats-link.active .chats-img,
.chats-link:hover .chats-img,
.connection-link.active .connection-img,
.connection-link:hover .connection-img,
.mic-link.active .mic-img,
.mic-link:hover .mic-img,
.screen-link.active .screen-img,
.screen-link:hover .screen-img,
.pad-link.active .pad-img,
.pad-link:hover .pad-img,
.video-link.active .video-img,
.video-link:hover .video-img,
.setting-link.active .setting-img,
.setting-link:hover .setting-img,
.participant-link.active .participant-img,
.participant-link:hover .participant-img,
.notification-link.active .notification-img,
.notification-link:hover .notification-img {
    display: none;
}

/**********On active or hover show white-icons**********/
.room-link.active .room-white-img,
.contact-link.active .contact-white-img,
.chats-link.active .chats-white-img,
.connection-link.active .connection-white-img,
.mic-link.active .mic-white-img,
.screen-link.active .screen-white-img,
.video-link.active .video-white-img,
.pad-link.active .pad-white-img,
.setting-link.active .setting-white-img,
.participant-link.active .participant-white-img,
.notification-link.active .notification-white-img,
.room-link:hover .room-white-img,
.contact-link:hover .contact-white-img,
.chats-link:hover .chats-white-img,
.connection-link:hover .connection-white-img,
.mic-link:hover .mic-white-img,
.screen-link:hover .screen-white-img,
.pad-link:hover .pad-white-img,
.video-link:hover .video-white-img,
.setting-link:hover .setting-white-img,
.notification-link:hover .notification-white-img,
.participant-link:hover .participant-white-img {
    display: inline-block;
    margin: 0 auto;
}

ul.notify li, ul.notify li:hover {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.rollover-connection:hover {
    display: block;
}

.main-web-icons .below-icons {
    display: inline-block;
    width: 68px;
    /*margin-top: 10px;*/
}

.below-icons span {
    font-size: 10px;
}

.meeting-wrap button {
    font-size: 12px;
    width: 100px;
    margin-top: 10px;
    margin: 0;
    margin-top: -20px;
}

.below-icons img {
    height: 20px;
}

.meetbtn {
    display: none;
}

.main-chat-video {
    width: 67%;
    /*margin-left: 20%;*/
}

.strip {
    /* width: 16%; */
    margin: 0 auto;
    background-color: #34383cb5;
    position: absolute;
    bottom: -2px;
    /* border-radius: 10px; */
    padding: 0 5px;
    left:0;
}

.strip2 {
    width: auto;
    /* margin: 0 auto; */
    background-color: #34383cb5;
    position: absolute;
    bottom: 16%;
    /* border-radius: 10px; */
    padding: 0 5px;
    left: 5%;
}

.strip3 {
    /* margin: 0px 8px; */
    background-color: #34383cb5;
    height: 22px;
    position: absolute;
    bottom: 0px;
    /* border-radius: 5px; */
    margin-left: 0;
    font-size: 12px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

/*.bottom-icons {
    bottom: -28px;
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: #252524e6;
}*/

.bottom-icons {
    bottom: 0px;
    width: 100%;
    position: fixed;
    padding-top: 5px;
    left: 0px;
    background-color: #252524;
}

.scrollbox.bottom-space .col-sm-3.user-video {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%;
}

.users-thumb.users-thumb-left {
    /* margin-left: 3%;*/
}

.bottom-icons.short-icons {
    /*position: inherit;*/
}

.chat-video {
    width: 98%;
}

.sidenav-main {
    margin-top: 60px;
}
/*.users-thumb.user-box.scrollbox.bottom-space {
    overflow: auto;
    width: 100%;
    height: 450px;
}*/


/*.bottom-space {
margin-bottom:100px;
}*/

.sidenav-bottom {
    margin-bottom: 18%;
}

.sidenav-bottom2 {
    margin-bottom: 13%;
}

.sidenav-top {
    margin-top: 12.8%;
}

.content .sidenav-top2 {
    margin-top: 13%;
    position: fixed;
}

.scrollbox.bottom-space {
    /* margin-left: 100px;
    margin-bottom: 70px;*/
    padding-left: 6%;
    margin-bottom: 50px;
}

.icon-bottom img {
    height: 20px;
}

/*.content .sidenav {
    position: fixed;
}*/
/************LEFT SIDEBAR CSS******************/
hgroup {
    float: left;
    margin: 2px 2px 2px 10px;
}

.contact-bar::before {
    content: "";
    display: block;
    /*height: 67px;*/
}

.contact-bar a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    /*border-bottom: 1px solid #414141;*/
}

/*******************CHAT BAR CSS*************************/



label {
    color: rgba(120, 144, 156,1.0) !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    box-shadow: 0 0px 0px rgba(120, 144, 156,1.0) inset, 0 0 0px rgba(120, 144, 156,0.8);
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(120, 144, 156,1.0);
    color: rgba(120, 144, 156,1.0);
    opacity: 0.9;
    box-shadow: 0 0px 0px rgba(120, 144, 156,1.0) inset, 0 0 10px rgba(120, 144, 156,0.3);
    outline: 0 none;
}

/************SCROLLBAR CSS****************/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    /*border-radius0%;*/
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #222;
    }


/*.card::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #333;
}*/

.balon1, .balon2 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}


    .balon1 a {
        background: #42a5f5;
        color: #fff !important;
        border-radius: 20px 20px 3px 20px;
        display: block;
        max-width: 75%;
        padding: 7px 13px 7px 13px;
    }

    .balon1:before {
        content: attr(data-is);
        position: absolute;
        right: 15px;
        bottom: -0.8em;
        display: block;
        font-size: .750rem;
        color: #fff;
    }

    .balon2 a {
        background: #f1f1f1;
        color: #000 !important;
        border-radius: 20px 20px 20px 3px;
        display: block;
        max-width: 75%;
        padding: 7px 13px 7px 13px;
    }

    .balon2:before {
        content: attr(data-is);
        position: absolute;
        left: 13px;
        bottom: -0.8em;
        display: block;
        font-size: .750rem;
        color: #fff;
    }

.bg-sohbet:before {
    content: "";
    background-color: #333;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent !important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.contact-bar {
    position: relative;
    width: 242px;
    height: 80%;
    background: #161616;
    /*left: 65px;*/
    top: 0;
    float: left;
    display: none;
    /*-webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
    box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);*/
}

.chats-bar::before {
    content: "";
    display: block;
    /*height: 67px;*/
}

.chats-bar a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    color: fff;
    /*border-bottom: 1px solid #414141;*/
}

.chats-bar {
    position: relative;
    width: 242px;
    height: 80vh;
    background: #161616;
    /*left: 65px;*/
    top: 0;
    float: left;
    display: none;
    /*-webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
    box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);*/
}

.card-footer .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    height: 37px;
    background-color: skyblue;
}

.contact-name {
    color: #fff;
    font-size: 12px;
    padding: 5px 0px;
    float: left;
    width: 64%;
    cursor: pointer;
}

.contact-box {
    margin: 10px 0;
}

.contact-wrapper {
    overflow: auto;
    height: 64vh;
    width: 100%;
}

.room-wrap {
    overflow: auto;
    height: 64vh;
    width: 95%;
}


/***********ROOM MENU CSS***************/
.room-bar {
    position: relative;
    width: 242px;
    height: 80%;
    background: #161616;
    /*left: 65px;*/
    top: 0;
    display: none;
    float:left;
}

    .room-bar::before {
        content: "";
        display: block;
        /*height: 67px;*/
    }

    .room-bar a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 14px;
        color: fff;
        /*border-bottom: 1px solid #414141;*/
    }

.small-menu {
    padding-top: 15px;
    cursor: pointer;
}

.room-name {
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    float: left;
    width: 68%;
    cursor: pointer;
}

.room-menu {
    width: 100%;
    padding: 2px 15px;
}

.user-dp {
    padding: 5px;
    background-color: #2b3c62;
    border-radius: 50%;
    width: 35px;
    color: #fff;
    margin: 6px;
    float: left;
    cursor: pointer;
}

/***********ROOM MENU CSS ENDS***************/

.toggle-wrap {
    padding: 10px;
    position: relative;
    cursor: pointer;
    float: left;
    /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.toggle-bar,
    .toggle-bar::before,
    .toggle-bar::after,
    .toggle-wrap.active .toggle-bar,
    .toggle-wrap.active .toggle-bar::before,
    .toggle-wrap.active .toggle-bar::after {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }*/

.toggle-bar {
    width: 38px;
    margin: 10px 0;
    position: relative;
    border-top: 6px solid white;
    display: block;
    color: #fff;
}

    .toggle-bar::before,
    .toggle-bar::after {
        content: "";
        display: block;
        background: #303030;
        height: 6px;
        width: 38px;
        position: absolute;
        top: -16px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: 13%;
        -webkit-transform-origin: 13%;
        transform-origin: 13%;
    }

    .toggle-bar::after {
        top: 4px;
    }

.toggle-wrap.active .toggle-bar {
    border-top: 6px solid transparent;
}

    .toggle-wrap.active .toggle-bar::before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .toggle-wrap.active .toggle-bar::after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.form-check label, .form-color label {
    color: #333 !important;
}

.modal-body input[type="checkbox"] {
    margin: 6px 10px;
}

.sidenav-bar {
    bottom: 20%;
}

.top-icons.sidenav-bar {
    /*  margin-bottom: 80px;
    position: fixed;*/
}



.content .user-vdo {
    max-width: 64%;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
}

.content .sidenav-top2 {
    /*max-width: 70px;*/
}

.content .user-vdo2 {
    max-width: 75%;
    margin: 0px auto;
    text-align: center;
}

.close span {
    color: #333;
}
.modal-body .nav-item a {
    color: #333;
    font-weight: 400;
}

.modal-body .nav-tabs .nav-link.active {
    color: blue;
}

.tab-pane p {
    color: #333;
}
.mod-footer p {
    color: #333;
    float:left;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid blue !important;
}


/***************Scratch pad********************/
.scatchpad-wrapper .canvas-pad {
    background-color: #fff;
    border: 3px solid #eee;
    width: auto;
    height: 66vh;
}
.scatchpad-wrapper .canvas-footer {
    background-color: #ddd;
    width: auto;
    padding: 20px 10px;
    height: 70px;
    color: #333;
    font-size: 13px;
}
    .scatchpad-wrapper .canvas-footer p {
    color:#333;
    }
.canvas-footer ul.left-icons {
    list-style: none;
    color: #333;
    padding: 0;
    float:left;
}
    .canvas-footer ul.left-icons li {
        color: #333;
        display: inline-block;
        margin: 2px 5px;
        cursor:pointer;
    }

    .canvas-footer ul.middle-icons {
        list-style: none;
        color: #333;
        padding: 0;
    }

        .canvas-footer ul.middle-icons li {
            color: #333;
            display: inline-block;
            margin: 2px 5px;
            cursor: pointer;
        }

.canvas-footer ul.right-icons {
    list-style: none;
    color: #333;
    padding: 0;
}

    .canvas-footer ul.right-icons li {
        color: #333;
        display: inline-block;
        margin: 2px 5px;
        cursor: pointer;
    }


    .middle-icons {
        float:left;
    }

    .right-icons{
        float:right;   
    }



@media only screen and (max-width: 1024px) {
    .top-info {
            width: 65%;
            padding: 10px;
            border-radius: 30px;
            margin-top: 15px;
        }

        .content .user-vdo {
            max-width: 50%;
            margin: 0px auto;
            text-align: center;
            overflow: hidden;
        }

        .scrollbox.bottom-space {
            padding-left: 10%;
        }

        .content .user-vdo2 {
            max-width: 65%;
            margin: 0px auto;
            text-align: center;
        }
    }


    @media only screen and (max-width: 768px) {
        .top-info {
            width: 56%;
            /*background: #cfd2d8;*/
            padding: 10px;
            border-radius: 30px;
            font-size: 10px;
            display: block;
        }

        .sidenav-bottom2 {
            margin-bottom: -17%;
        }

        .main-chat-video {
            width: 100%;
        }

        .content .sidenav-main {
            margin-top: 200px;
        }

        .users-thumb {
            padding-left: 0px;
        }

        .bottom-icons.short-icons {
            position: fixed;
        }

        .meeting-wrap button {
            font-size: 12px;
            width: 100px;
            margin-top: 10px;
            margin: 0;
            margin-top: -75px;
        }

        .bottom-icons {
            bottom: 0;
            width: 100%;
            position: fixed;
            left: 0px;
            height: 40px;
        }

        .strip {
            width: auto;
            margin: 0 auto;
            background-color: #34383cb5;
            position: absolute;
            bottom: -1px;
            border-radius: 0;
            left: 2%;
        }

        .strip2 {
            width:auto;
            margin: 20px;
            background-color: #34383cb5;
            /* height: 50px; */
            position: absolute;
            bottom: 0px;
            border-radius: 0;
            margin-left: 0;
        }

        .strip3 {
            width: auto;
            margin: 0px 8px;
            background-color: #34383cb5;
            height: 21px;
            position: absolute;
            bottom: 3px;
            /* border-radius: 5px; */
            margin-left: 2%;
            font-size: 12px;
        }

        .sidenav-top {
            margin-top: 26%;
        }

        .logo {
            width: 150px;
        }

        /*.users-thumb {
		padding-left: 20px;
	    }*/
        .sidenav-top2 {
            margin-top: 25.3%;
        }

        .top-icons.sidenav-bar {
            margin-bottom: 140px;
        }

        li.end-meeting-mb {
            display: none;
        }

        .top-info-mb {
            display: none;
        }

        .chat-sect-ul {
            /*display:flex;*/
            display: inline-block;
        }

        body .below-icons {
            color: white;
            font-size: 10px;
        }

        .rooms-title {
            border-radius: 30px;
        }

        .icons-top {
            margin-top: 0px;
        }

        .end-bnt {
            margin-top: 30px;
        }

        .top-icons {
            margin-bottom: 0px;
        }

            .top-icons li {
                align-self: center;
            }

        .main-icons li img {
            width: 60%;
        }

        ul.top-info-mb {
            margin-bottom: 0px;
        }

        ul.main-icons li {
            margin-right: 0;
        }

        .main-icons li {
            width: 14%;
        }

        .main-icons button {
            font-size: 11px;
            width: 100%;
            margin: 10px 260%;
        }

        .icon-text {
            display: none;
        }
        /*.bottom-icons{
		margin-top:20%;
	    }*/
        .icon-bottom {
            margin-bottom: 20px;
        }

        .meeting-wrap {
            margin: 0px auto;
            width: 100%;
            padding-left: 5px;
            float: left;
        }
        /*ul.chat-sect-ul.top-icons img {
    width: 70%;
	display:block;
	}*/
        /*.icon-bottom{
	margin-bottom:0px;
	}*/
        .icon-bottom .below-icons {
            display: none;
        }

        .end-meeting-d {
            display: none;
        }

        .top-info-mb {
            display: none;
        }

        .end-meeting-d {
            display: block;
        }

        .main-web-icons .below-icons {
            display: inline-block;
            width: 48px;
            /*margin-top: 10px;*/
            margin-bottom: -58px;
        }

            .main-web-icons .below-icons span {
                display: none;
            }

        .icon-bottom span {
            display: none;
        }

        .btn-danger {
            width: 120px;
        }

        .main-web-icons {
            margin-right: 9%;
        }

        .navbar .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 0px;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

        .room-bar {
            position: absolute;
            width: 242px;
            height: 80%;
            background: #161616;
            left: 45px;
            top: 0;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .contact-bar {
            position: absolute;
            width: 242px;
            height: 80%;
            background: #161616;
            left: 45px;
            top: 0;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .chats-bar {
            position: absolute;
            width: 242px;
            height: 80%;
            background: #161616;
            left: 45px;
            top: 0;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .content .sidenav-top2 {
            margin-top: 30%;
            position: fixed;
        }

        .content .user-vdo {
            max-width: 80%;
            margin: 0px auto;
            text-align: center;
            overflow: hidden;
        }
    }


    @media only screen and (max-width: 425px) {
        .logo {
            width: 80%;
            float: left;
        }

        .top-info {
            margin-top: 0;
        }

        .main-chat-video {
            width: 100%;
        }

        .bottom-icons.short-icons {
            position: absolute;
        }

        .bottom-icons {
            bottom: 30px;
            width: 100%;
            position: fixed;
            left: 0px;
        }

        .users-thumb {
            padding-left: 0px;
        }

        .strip {
            width: 22%;
            margin: 20px;
            background-color: #34383cb5;
            position: absolute;
            bottom: 282px;
            border-radius: 0;
            margin-left: 4%;
        }

        .content .sidenav-main {
            margin-top: 0;
        }

        .strip2 {
            width: 23%;
            margin: 20px;
            background-color: #34383cb5;
            /* height: 50px; */
            position: absolute;
            bottom: -22px;
            border-radius: 0;
            margin-left: 0%;
        }

        .strip3 {
            /* width: 90%; */
            margin: 0px 8px;
            background-color: #34383cb5;
            height: 22px;
            position: absolute;
            bottom: 2px;
            /* border-radius: 5px; */
            margin-left: 1.5%;
            font-size: 12px;
        }

        .navbar .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 0px;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

        ul.top-info-mb {
            margin-bottom: 0px;
        }

        .meetbtn {
            display: block;
        }

        .users-thumb-left {
            padding-left: 0px;
        }

        ul.chat-sect-ul.top-icons img {
            width: 70%;
        }

        .chat-sect-ul {
            display: flex;
        }

        .icon-bottom {
            margin-bottom: 0px;
        }

        .sidenav {
            margin-bottom: 5px;
        }

        .top-icons {
            float: none;
            /*margin: revert;
		margin-bottom: 0px;
		margin-top: 0px;*/
        }

        .top-info-mb {
            display: block;
        }

        .top-info {
            display: none;
        }

        .end-meeting-d {
            display: none;
        }

        .main-web-icons .below-icons {
            display: inline-block;
            width: 43px;
            margin-top: 10px;
        }

            .main-web-icons .below-icons img {
                height: 130%;
            }

            .main-web-icons .below-icons span {
                display: none;
            }

        .main-web-icons {
            margin-right: 0;
            margin-left: 3%;
        }

        ul.chat-sect-ul {
            list-style: none;
        }

            ul.chat-sect-ul li {
                list-style: none;
                display: inline-block;
            }

                ul.chat-sect-ul li span {
                    visibility: hidden;
                }

        /*.icons-top li.p-3 {
		padding: 0px !important;
	}*/

        ul.chat-sect-ul {
            /* height: 30px;*/
        }

        nav.navbar.navbar-dark.bg-nav {
            padding: 0px;
        }

        ul.top-info-mb {
            margin-bottom: 0px;
        }

        .meeting {
            margin-left: 36%;
        }

        ul.chat-sect-ul li img {
            width: 70%;
        }

        .icons-top li img {
            width: 70%;
        }

        .meeting2 {
            /*width: 30% !important;*/
            width: 30%;
            margin-left: -85px;
        }

        .sidenav {
            height: 18px;
        }

        .meeting2 {
            display: none;
        }

        .users-thumb.users-thumb-left .userimg {
            width: 97%;
        }

        .scrollbox.bottom-space {
            margin-left: 0;
            /* margin-bottom: 70px; */
        }

            .scrollbox.bottom-space .col-sm-3.user-video {
                flex: none;
                max-width: 47.5%;
            }

        .content .bottom-icons {
            height: 42px;
            padding: 24px 15px;
            bottom: 0;
            width: 100%;
            position: fixed;
            padding-top: 5px;
            left: 0px;
        }

        ul.chat-sect-ul.top-icons {
            margin-left: 22%;
        }

        .meeting-wrap button {
            font-size: 12px;
            width: 100px;
            margin-top: 0;
            margin: 0;
            margin-top: 0;
        }

        .content .users-thumb {
            height: 515px;
            /* margin-top: 10px; */
            /* width: 100%; */
            padding-left: 10px;
        }

        .scrollbox {
            overflow-x: hidden;
        }

        .sidenav-top {
            margin-top: 0;
        }

        ul.chat-sect-ul.top-icons {
            margin-left: 21%;
        }

        .chat-sect-ul.top-icons.sidenav-bar {
            margin-left: 24%;
        }

        ul.chat-sect-ul.top-icons.left-icons {
            margin-left: 25%;
        }

        .room-bar {
            position: absolute;
            width: 80%;
            height: 75%;
            background: #161616;
            left: 0;
            top: 40px;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .contact-bar {
            position: absolute;
            width: 80%;
            height: 75%;
            background: #161616;
            left: 0;
            top: 40px;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .chats-bar {
            position: absolute;
            width: 80%;
            height: 72%;
            background: #161616;
            left: 0;
            top: 38px;
            display: none;
            margin-top: 79px;
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .sidenav-top2 {
            margin-top: 0;
        }

        .content .sidenav {
            position: inherit;
        }

        .main-chat-video {
            width: 100%;
            margin-left: 0;
        }

        .users-thumb.users-thumb-left {
            margin-left: 0;
        }

        .top-icons.sidenav-bar {
            /* margin-bottom: 80px; */
            position: inherit;
        }

        .meeting-wrap .btn-group-sm > .btn, .meeting-wrap .btn-sm {
            padding: 0;
        }

        .content .user-vdo {
            max-width: 100%;
            margin: 0px auto;
            text-align: center;
        }

        .content .sidenav-top2 {
            margin-top: 0;
        }

        .content .user-vdo2 {
            max-width: 100%;
            margin: 0px auto;
            text-align: center;
        }

        .room-wrap {
            overflow: auto;
            height: 59vh;
            width: 95%;
        }

        .contact-wrapper {
            overflow: auto;
            height: 59vh;
            width: 100%;
        }

        .room-name {
            color: #fff;
            font-size: 12px;
            padding: 5px 10px;
            float: left;
            width: 75%;
            cursor: pointer;
        }

        .users-thumb .userimg-vdo {
            width: 50%;
        }

        .strip2 {
            width: auto;
            margin: 20px;
            background-color: #34383cb5;
            /* height: 50px; */
            position: absolute;
            bottom: -19px;
            border-radius: 0;
            margin-left: 0%;
        }

        .strip {
            width: auto;
            margin: 20px;
            background-color: #34383cb5;
            position: absolute;
            bottom: -21px;
            border-radius: 0;
            margin-left: -1%;
            font-size: 12px;
        }

        .scatchpad-wrapper .canvas-pad {
            background-color: #fff;
            border: 3px solid #eee;
            width: auto;
            height: 52vh;
        }

        .scatchpad-wrapper .canvas-pad {
            background-color: #fff;
            border: 3px solid #eee;
            width: auto;
            height: 52vh;
        }

        .scatchpad-wrapper .canvas-footer {
            background-color: #ddd;
            width: auto;
            padding: 20px 10px;
            height: 160px;
            color: #333;
            margin: 0px auto;
        }

    }


    @media only screen and (max-width: 375px) {

        .main-web-icons .below-icons {
            display: inline-block;
            width: 36px;
            margin-top: 10px;
        }

        .top-info {
            margin-top: 0;
        }

        ul.chat-sect-ul.top-icons {
            margin-left: 20%;
        }

        .bottom-icons.short-icons {
            position: absolute;
        }

        .main-chat-video {
            width: 97%;
            /* margin-top: 10px;*/
        }

        .users-thumb {
            padding-left: 0px;
        }

        .rooms-title {
            font-size: 10px;
        }

        ul.chat-sect-ul.top-icons img {
            width: 100%;
        }

        .users-thumb {
            /*height: 490px;*/
            margin-top: 7px;
        }

        .main-web-icons .below-icons {
            display: inline-block;
            width: 39px;
            margin-top: 10px;
            margin: 0px;
        }

        /*.content .bottom-icons {
        position: absolute;
        z-index: 999;
        height: 86px;
        padding: 16px 15px;
        padding-right: 21px;
        margin: 0px;
        text-align: center;
        }*/

        ul.chat-sect-ul.top-icons img {
            width: 70%;
        }

        .users-thumb.user-box {
            /* height: 440px;*/
        }

        .sidenav-top {
            margin-top: 0;
        }

        .strip {
            width: 19%;
            margin: 20px;
            background-color: #34383cb5;
            position: absolute;
            bottom: 306px;
            border-radius: 0;
            margin-left: 4%;
            font-size: 12px;
        }

        .strip3 {
            width: 37%;
            margin: 0px 8px;
            background-color: #34383cb5;
            height: 22px;
            position: absolute;
            bottom: 2px;
            border-radius: 0;
            margin-left: 1.5%;
            font-size: 12px;
        }

        .content .scrollbox.bottom-space {
            margin-left: 0px;
            /* margin-bottom: 70px; */
        }

        .scrollbox.bottom-space .col-sm-3.user-video {
            flex: none;
            max-width: 46.5%;
        }

        .content .bottom-icons {
            height: 42px;
            padding: 24px 15px;
            bottom: 0;
            width: 100%;
            position: fixed;
            padding-top: 5px;
            left: 0px;
        }

        .main-web-icons .below-icons img {
            height: 150%;
        }

        .top-info-mb li {
            padding-right: 4px;
        }

        .scrollbox.bottom-space {
            margin-left: 50px;
            margin-bottom: 0;
        }

        .navbar-dark .navbar-brand {
            width: 55%;
        }

        ul.top-info-mb {
            margin-bottom: 0px;
        }

        .sidenav {
            height: 15px;
        }

        .sidenav-top2 {
            margin-top: 0;
        }

        .meeting-wrap button {
            font-size: 12px;
            width: 100px;
            margin-top: 10px;
            margin: 0;
            margin-top: 0px;
        }

        .room-bar {
            position: absolute;
            width: 80%;
            height: 73%;
            background: #161616;
            left: 0;
            top: 30px;
            display: none;
            /*margin-top: 79px;*/
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .contact-bar {
            position: absolute;
            width: 80%;
            height: 73%;
            background: #161616;
            left: 0;
            top: 30px;
            display: none;
            /*margin-top: 79px;*/
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .chats-bar {
            position: absolute;
            width: 80%;
            height: 63%;
            background: #161616;
            left: 0;
            top: 30px;
            display: none;
            /*margin-top: 79px;*/
            z-index: 9;
            -webkit-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
            box-shadow: 9px 2px 5px -1px rgba(0,0,0,0.39);
        }

        .card.bg-sohbet {
            height: 67vh;
        }

        .content .sidenav {
            position: inherit;
        }

        .main-chat-video {
            width: 100%;
            margin-left: 0;
        }

        .users-thumb.users-thumb-left {
            margin-left: 0;
        }

        .top-icons.sidenav-bar {
            /* margin-bottom: 80px; */
            position: inherit;
        }

        .meeting-wrap .btn-group-sm > .btn, .meeting-wrap .btn-sm {
            padding: 0;
        }

        .content .sidenav-top2 {
            margin-top: 0;
        }

        .content .user-vdo {
            max-width: 100%;
            margin: 0px auto;
            text-align: center;
        }

        .users-thumb.users-thumb-left .userimg {
            width: 97%;
        }

        .content .user-vdo2 {
            max-width: 100%;
            margin: 0px auto;
            text-align: center;
        }

        .room-wrap {
            overflow: auto;
            height: 59vh;
            width: 95%;
        }

        .contact-wrapper {
            overflow: auto;
            height: 59vh;
            width: 100%;
        }

        .users-thumb .userimg-vdo {
            width: 50%;
        }

        .strip2 {
            width: auto;
            margin: 20px;
            background-color: #34383cb5;
            /* height: 50px; */
            position: absolute;
            bottom: -22px;
            border-radius: 0;
            margin-left: 0%;
        }

        .strip {
            width:auto;
            margin: 20px;
            background-color: #34383cb5;
            position: absolute;
            bottom: -21px;
            border-radius: 0;
            margin-left: -1%;
            font-size: 12px;
        }

        .scatchpad-wrapper .canvas-pad {
            background-color: #fff;
            border: 3px solid #eee;
            width: 355px !important;
            height: 52vh;
        }
        .scatchpad-wrapper .canvas-pad {
            background-color: #fff;
            border: 3px solid #eee;
            width: auto;
            height: 52vh;
        }
        .scatchpad-wrapper .canvas-footer {
            background-color: #ddd;
            width: auto;
            padding: 20px 10px;
            height: 160px;
            color: #333;
            margin: 0px auto;
        }
    }
