.chatSprite{ background:url("chatSprite.png") top left no-repeat; }
.secure01{ width:12px; height:16px; background-position:-10px -10px; }
.secure02{ width:12px; height:16px; background-position:-10px -36px; }
.expand02{ width:11px; height:12px; background-position:-10px -62px; }
.exit02{ width:11px; height:12px; background-position:-10px -84px; }
.expand01{ width:11px; height:12px; background-position:-10px -106px; }
.exit01{ width:11px; height:12px; background-position:-10px -128px; }
.PinkUp02{ width:11px; height:11px; background-position:-10px -150px; }
.condense02{ width:11px; height:11px; background-position:-10px -171px; }
.PinkUp01{ width:11px; height:11px; background-position:-10px -192px; }
.condense01{ width:11px; height:11px; background-position:-10px -213px; }
.PinkD02{ width:11px; height:11px; background-position:-10px -234px; }
.PinkD01{ width:11px; height:11px; background-position:-10px -255px; }
.RedD02{ width:11px; height:11px; background-position:-10px -276px; }
.RedD01{ width:11px; height:11px; background-position:-10px -297px; }
.RedUp02{ width:11px; height:11px; background-position:-10px -318px; }
.RedUp01{ width:11px; height:11px; background-position:-10px -339px; }
.OrangeD02{ width:11px; height:11px; background-position:-10px -360px; }
.OrangeD01{ width:11px; height:11px; background-position:-10px -381px; }
.OrangeUp02{ width:11px; height:11px; background-position:-10px -402px; }
.OrangeUp01{ width:11px; height:11px; background-position:-10px -423px; }
.BlueD02{ width:11px; height:11px; background-position:-10px -444px; }
.BlueD01{ width:11px; height:11px; background-position:-10px -465px; }
.BlueUp02{ width:11px; height:11px; background-position:-10px -486px; }
.BlueUp01{ width:11px; height:11px; background-position:-10px -507px; }
.GreyD02{ width:11px; height:11px; background-position:-10px -528px; }
.GreyD01{ width:11px; height:11px; background-position:-10px -549px; }
.GreyUp02{ width:11px; height:11px; background-position:-10px -570px; }
.GreyUp01{ width:11px; height:11px; background-position:-10px -591px; }
.GreenD02{ width:11px; height:11px; background-position:-10px -612px; }
.GreenD01{ width:11px; height:11px; background-position:-10px -633px; }
.GreenUp02{ width:11px; height:11px; background-position:-10px -654px; }
.PinkM01{ width:12px; height:10px; background-position:-10px -675px; }
.OrangeM02{ width:12px; height:10px; background-position:-10px -695px; }
.OrangeM01{ width:12px; height:10px; background-position:-10px -715px; }
.GreyM02{ width:12px; height:10px; background-position:-10px -735px; }
.GreyM01{ width:12px; height:10px; background-position:-10px -755px; }
.minimize02{ width:15px; height:10px; background-position:-10px -775px; }
.minimize01{ width:14px; height:10px; background-position:-10px -795px; }
.RedM02{ width:12px; height:10px; background-position:-10px -815px; }
.RedM01{ width:12px; height:10px; background-position:-10px -835px; }
.GreenM02{ width:12px; height:10px; background-position:-10px -855px; }
.GreenM01{ width:12px; height:10px; background-position:-10px -875px; }
.BlueM02{ width:12px; height:10px; background-position:-10px -895px; }
.BlueM01{ width:12px; height:10px; background-position:-10px -915px; }
.PinkM02{ width:12px; height:10px; background-position:-10px -935px; }
.GreenUp01{ width:11px; height:10px; background-position:-10px -955px; }

