@media (min-width:1200px) {


footer.short-2 span {
margin-right: 50px;
}


.push, .footer {
height: 85px;
}

footer.short-2 {
    padding-top: 33px;  
    padding-bottom: 17px;
}

footer.bg-primary.short-2.footer {
    margin-top: -85px;
}

footer.short-2 .contact-action {
    padding: 31px 0 15px;
}
