@media (min-width:768px) {

	footer.short-2 .contact-action {

padding: 30px 0 15px;
}

.push, .footer {
	height: 115px; /* .push must be the same height as .footer */
}

footer.bg-primary.short-2.footer {
    margin-top: -115px;
}

.pass:before {
margin-top: 40%;
}



.contact:before {
    margin-top: 30%;
}