body {
    background-color: #f1f1f1 !important;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
}

    body a {
        color: #000;
    }

    body p {
        color: #000;
    }

    body span {
        color: #000;
    }

    body li {
        color: #000;
    }

.clear {
    clear: both;
}

/*header*/
.top-info {
    width: 70%;
    background: #cfd2d8;
    padding: 10px;
    border-radius: 30px;
}

.top-info-mb {
    background: #cfd2d8;
    padding: 1%;
    /*margin-top: 0px !important;*/
    margin-top: 0px;
    font-size: 11px;
}

.box-border {
    border: 5px solid #f1f1f1;
}


.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -74px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-toggle::after {
color:#333;
}

.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #dc3545;
}

/*Responsive*/
@media only screen and (max-width: 768px) {


    ul.top-info-mb {
        margin-bottom: 0px;
        background-color: #161616;
    }
}

/*@media only screen and (min-width: 768px) {
   
	.p-3 {
    padding-right: 3px!important;
	}
	.end-meeting-mb{
		display:none;
	}
}*/

@media only screen and (max-width: 425px) {

    ul.top-info-mb {
        margin-bottom: 0px;
        background-color: #cfd2d8;
    }
}

@media only screen and (max-width: 375px) {

    .navbar-dark .navbar-brand {
        color: #fff;
        width: 55%;
    }

    ul.top-info-mb {
        margin-bottom: 0px;
        background-color: #cfd2d8;
    }
}
