

.list-inline li {
    display: inline;
}

.top-info li {
    padding-right: 8px;
}

.top-info-mb li {
    padding-right: 8px;
}

.top-icons {
    float: left;
    padding-left: 0px;
}


/*chat section*/
.chat-sect-ul {
    list-style-type: none;
}

ul.list-inline {
    /*margin-top: 5px;*/
}

.icons-top {
    /*margin-top:140px!important;*/
}

ul.main-icons li {
    margin-right: 3%;
}

.icon-bottom {
    margin-bottom: 20px;
    cursor: pointer;
}

    .icon-bottom span {
        display: block;
        font-size: 10px;
    }

.rooms-title {
    display: none;
}

.top-info-mb {
    display: none;
}

/**********On load hide white-icons**********/
.room-link .room-white-img,
.contact-link .contact-white-img,
.chats-link .chats-white-img,
.connection-link .connection-white-img,
.mic-link .mic-white-img,
.screen-link .screen-white-img,
.pad-link .pad-white-img,
.video-link .video-white-img,
.setting-link .setting-white-img,
.participant-link .participant-white-img,
.notification-link .notification-white-img {
    display: none;
}

/**********On active or hover hide black-icons**********/
.room-link.active .room-img,
.room-link:hover .room-img,
.contact-link.active .contact-img,
.contact-link:hover .contact-img,
.chats-link.active .chats-img,
.chats-link:hover .chats-img,
.connection-link.active .connection-img,
.connection-link:hover .connection-img,
.mic-link.active .mic-img,
.mic-link:hover .mic-img,
.screen-link.active .screen-img,
.screen-link:hover .screen-img,
.pad-link.active .pad-img,
.pad-link:hover .pad-img,
.video-link.active .video-img,
.video-link:hover .video-img,
.setting-link.active .setting-img,
.setting-link:hover .setting-img,
.participant-link.active .participant-img,
.participant-link:hover .participant-img,
.notification-link.active .notification-img,
.notification-link:hover .notification-img {
    display: none;
}

/**********On active or hover show white-icons**********/
.room-link.active .room-white-img,
.contact-link.active .contact-white-img,
.chats-link.active .chats-white-img,
.connection-link.active .connection-white-img,
.mic-link.active .mic-white-img,
.screen-link.active .screen-white-img,
.video-link.active .video-white-img,
.pad-link.active .pad-white-img,
.setting-link.active .setting-white-img,
.participant-link.active .participant-white-img,
.notification-link.active .notification-white-img,
.room-link:hover .room-white-img,
.contact-link:hover .contact-white-img,
.chats-link:hover .chats-white-img,
.connection-link:hover .connection-white-img,
.mic-link:hover .mic-white-img,
.screen-link:hover .screen-white-img,
.pad-link:hover .pad-white-img,
.video-link:hover .video-white-img,
.setting-link:hover .setting-white-img,
.notification-link:hover .notification-white-img,
.participant-link:hover .participant-white-img {
    display: inline-block;
    margin: 0 auto;
}

ul.notify li, ul.notify li:hover {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.rollover-connection:hover {
    display: block;
}

.main-web-icons .below-icons {
    display: inline-block;
    width: 68px;
    /*margin-top: 10px;*/
}
.below-icons span {
    font-size: 10px;
}
.meeting-wrap button {
    font-size: 12px;
    width: 100px;
    margin-top: 10px;
}
.below-icons img {
    height: 40px;
}
.meetbtn {
    display: none;
}

.main-chat-video {
    width: 67%;
}

.strip {
    width: 8%;
    margin: 0 auto;
    background-color: #34383cb5;
    position: absolute;
    bottom: 0px;
    /* border-radius: 10px; */
    left: 18%;
}

.strip2 {
    /* width: 16%; */
    margin: 0 auto;
    background-color: #34383cb5;
    position: absolute;
    bottom: 10px;
    /* border-radius: 10px; */
    left: 0%;
}

.strip3 {
    /* margin: 0px 8px; */
    background-color: #34383cb5;
    height: 22px;
    position: absolute;
    bottom: 6px;
    /* border-radius: 5px; */
    margin-left: 2%;
    font-size: 12px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*.bottom-icons {
    bottom: -28px;
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: #252524e6;
}*/

.bottom-icons {
    bottom: -34px;
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: #252524;
}

.scrollbox.bottom-space .col-sm-3.user-video {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 18.5%;
}

    .bottom-icons.short-icons {
        /*position: inherit;*/
    }

.chat-video {
    width: 98%;
}

.sidenav-main {
    margin-top: 60px;
}
/*.users-thumb.user-box.scrollbox.bottom-space {
    overflow: auto;
    width: 100%;
    height: 450px;
}*/


/*.bottom-space {
margin-bottom:100px;
}*/

.sidenav-bottom {
    margin-bottom: 18%;
}
.sidenav-bottom2 {
    margin-bottom: 13%;
}
.sidenav-top {
    margin-top: 8%;
}
.scrollbox.bottom-space {
    margin-left: 50px;
    margin-bottom: 70px;
}

.icon-bottom img {
    height: 40px;
}


@media only screen and (max-width: 768px) {
    .top-info {
        width: 56%;
        /*background: #cfd2d8;*/
        padding: 10px;
        border-radius: 30px;
        font-size: 10px;
        display: block;
    }
    .sidenav-bottom2 {
        margin-bottom: -17%;
    }
    .main-chat-video {
        width: 100%;
    }

    .content .sidenav-main {
        margin-top: 200px;
    }

    .users-thumb {
        padding-left: 0px;
    }

    .bottom-icons.short-icons {
        position: fixed;
    }

    .bottom-icons {
        bottom: 0px;
        width: 100%;
        position: fixed;
        left: 0px;
        height: 80px;
    }

    .strip {
        width: 17%;
        margin: 0 auto;
        background-color: #34383cb5;
        position: absolute;
        bottom: 48px;
        border-radius: 0;
        left: 3%;
    }

    .strip2 {
        width: 26%;
        margin: 20px;
        background-color: #34383cb5;
        /* height: 50px; */
        position: absolute;
        bottom: 0px;
        border-radius: 0;
        margin-left:0;
    }

    .strip3 {
        /* width: 90%; */
        margin: 0px 8px;
        background-color: #34383cb5;
        height: 21px;
        position: absolute;
        bottom: 4px;
        /* border-radius: 5px; */
        margin-left: 4%;
        font-size: 12px;
    }
    .sidenav-top {
        margin-top: 26%;
    }
    .logo {
        width: 150px;
    }

    /*.users-thumb {
		padding-left: 20px;
	}*/


    li.end-meeting-mb {
        display: none;
    }

    .top-info-mb {
        display: none;
    }

    .chat-sect-ul {
        /*display:flex;*/
        display: inline-block;
    }

    body .below-icons {
        color: white;
        font-size: 10px;
    }

    .rooms-title {
        border-radius: 30px;
    }

    .icons-top {
        margin-top: 0px;
    }

    .end-bnt {
        margin-top: 30px;
    }

    .top-icons {
        margin-bottom: 0px;
    }

        .top-icons li {
            align-self: center;
        }

    .main-icons li img {
        width: 60%;
    }

    ul.main-icons li {
        margin-right: 0;
    }

    .main-icons li {
        width: 14%;
    }

    .main-icons button {
        font-size: 11px;
        width: 100%;
        margin: 10px 260%;
    }

    .icon-text {
        display: none;
    }
    /*.bottom-icons{
		margin-top:20%;
	}*/
    .icon-bottom {
        margin-bottom: 20px;
    }

    .meeting-wrap {
        margin: 0px auto;
        width: 100%;
        padding-top: 5px;
        float: left;
    }
    /*ul.chat-sect-ul.top-icons img {
    width: 70%;
	display:block;
	}*/
    /*.icon-bottom{
	margin-bottom:0px;
	}*/
    .icon-bottom .below-icons {
        display: none;
    }

    .end-meeting-d {
        display: none;
    }

    .top-info-mb {
        display: none;
    }

    .end-meeting-d {
        display: block;
    }

    .main-web-icons .below-icons {
        display: inline-block;
        width: 48px;
        margin-top: 10px;
        margin-bottom: -58px;
    }

        .main-web-icons .below-icons span {
            display: none;
        }

    .icon-bottom span {
        display: none;
    }

    .btn-danger {
        width: 120px;
    }

    .main-web-icons {
        margin-right: 9%;
    }

    .navbar .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 0px;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
}


@media only screen and (max-width: 425px) {
    .logo {
        width: 80%;
        float: left;
    }

    .main-chat-video {
        width: 100%;
    }

    .bottom-icons.short-icons {
        position: absolute;
    }

    .bottom-icons {
        bottom: 30px;
        width: 100%;
        position: fixed;
        left: 0px;
    }

    .users-thumb {
        padding-left: 0px;
    }

    .strip {
        width: 22%;
        margin: 20px;
        background-color: #34383cb5;
        position: absolute;
        bottom: 215px;
        border-radius: 0;
        margin-left: 0%;
    }

    .content .sidenav-main {
        margin-top: 0;
    }

    .strip2 {
        width: 43%;
        margin: 20px;
        background-color: #34383cb5;
        /* height: 50px; */
        position: absolute;
        bottom: -8px;
        border-radius: 0;
        margin-left: 0%;
    }

    .strip3 {
        /* width: 90%; */
        margin: 0px 8px;
        background-color: #34383cb5;
        height: 22px;
        position: absolute;
        bottom: 4px;
        /* border-radius: 5px; */
        margin-left: 5%;
        font-size: 12px;
    }

    .navbar .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 0px;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .meetbtn {
        display: block;
    }

    .users-thumb-left {
        padding-left: 0px;
    }

    ul.chat-sect-ul.top-icons img {
        width: 70%;
    }

    .chat-sect-ul {
        display: flex;
    }

    .icon-bottom {
        margin-bottom: 0px;
    }

    .sidenav {
        margin-bottom: 5px;
    }

    .top-icons {
        float: none;
        /*margin: revert;
		margin-bottom: 0px;
		margin-top: 0px;*/
    }

    .top-info-mb {
        display: block;
    }

    .top-info {
        display: none;
    }

    .end-meeting-d {
        display: none;
    }

    .main-web-icons .below-icons {
        display: inline-block;
        width: 43px;
        margin-top: 10px;
    }

        .main-web-icons .below-icons img {
            height: 57%;
        }

        .main-web-icons .below-icons span {
            display: none;
        }

    .main-web-icons {
        margin-right: 0;
        margin-left: 1%;
    }

    ul.chat-sect-ul {
        list-style: none;
    }

        ul.chat-sect-ul li {
            list-style: none;
            display: inline-block;
        }

            ul.chat-sect-ul li span {
                visibility: hidden;
            }

    /*.icons-top li.p-3 {
		padding: 0px !important;
	}*/

    ul.chat-sect-ul {
        /* height: 30px;*/
    }

    nav.navbar.navbar-dark.bg-nav {
        padding: 0px;
    }

    ul.top-info-mb {
        margin-bottom: 0px;
    }

    .meeting {
        margin-left: 36%;
    }

    ul.chat-sect-ul li img {
        width: 70%;
    }

    .icons-top li img {
        width: 70%;
    }

    .meeting2 {
        /*width: 30% !important;*/
        width: 30%;
        margin-left: -85px;
    }

    .sidenav {
        height: 35px;
    }

    .meeting2 {
        display: none;
    }

    .users-thumb.users-thumb-left .userimg {
        width: 50%;
    }
    .scrollbox.bottom-space {
        margin-left: 0;
        /* margin-bottom: 70px; */
    }
        .scrollbox.bottom-space .col-sm-3.user-video {
            flex: none;
            max-width: 48.5%;
        }
    .content .bottom-icons {
        /* background-color: #f1f1f1; */
        position: fixed;
        z-index: 999;
        top: 610px;
        height: 86px;
        /* width: 100%; */
        padding: 10px 15px;
        padding-right: 21px;
        margin: 0px auto;
        text-align: center;
    }

    .users-thumb {
        height: 440px;
        margin-top: 10px;
    }

    .scrollbox {
        overflow: auto;
    }
    .sidenav-top {
        margin-top: 0;
    }
    ul.chat-sect-ul.top-icons {
        margin-left: 11%;
    }
}


@media only screen and (max-width: 375px) {

    .main-web-icons .below-icons {
        display: inline-block;
        width: 36px;
        margin-top: 10px;
    }

    ul.chat-sect-ul.top-icons {
        margin-left: 10%;
    }

    .bottom-icons.short-icons {
        position: absolute;
    }

    .main-chat-video {
        width: 97%;
    }

    .users-thumb {
        padding-left: 0px;
    }

    .rooms-title {
        font-size: 10px;
    }

    ul.chat-sect-ul.top-icons img {
        width: 100%;
    }

    .users-thumb {
        height: 490px;
        margin-top: 10px;
    }

    .main-web-icons .below-icons {
        display: inline-block;
        width: 39px;
        margin-top: 10px;
        margin: 0px;
    }

    .content .bottom-icons {
        position: absolute;
        z-index: 999;
        /* top: 590px; */
        height: 86px;
        /* width: 100%; */
        padding: 16px 15px;
        padding-right: 21px;
        margin: 0px;
        text-align: center;
    }

    ul.chat-sect-ul.top-icons img {
        width: 70%;
    }

    .users-thumb.user-box {
        /* height: 440px;*/
    }
    .sidenav-top {
        margin-top: 0;
    }
    .strip {
        width: 19%;
        margin: 20px;
        background-color: #34383cb5;
        position: absolute;
        bottom: 295px;
        border-radius: 0;
        margin-left: 3%;
        font-size: 12px;
    }
    .strip3 {
        width: 37%;
        margin: 0px 8px;
        background-color: #34383cb5;
        height: 22px;
        position: absolute;
        bottom: 4px;
        border-radius: 0;
        margin-left: 6%;
        font-size: 12px;
    }
    .content .scrollbox.bottom-space {
        margin-left: 0px;
        /* margin-bottom: 70px; */
    }
    .scrollbox.bottom-space .col-sm-3.user-video {
        
        flex: none;
        max-width: 48.5%;
    }
    .content .bottom-icons {
        position: fixed;
        z-index: 999;
        top: 631px;
        height: 57px;
        width: 100%;
        padding: 17px 15px;
        padding-right: 21px;
        margin: 0px;
        text-align: center;
    }
    .main-web-icons .below-icons img {
        height: 150%;
    }
    .top-info-mb li {
        padding-right: 4px;
    }
    .scrollbox.bottom-space {
        margin-left: 50px;
        margin-bottom: 0;
    }
}
