@using LiveHelp.Public.Models.Enums
@using LiveHelp.Public.Resources

@{
    ViewBag.Title = LiveHelp_Public.Legal;
}
@section header {
    @Html.Partial("_HeaderPartial", HeaderItem.None)
}

<div class="pageHeading tac whiteBox clearfix pt40 pb40">
		<h3>TERMS OF SERVICE</h3>
		
</div>

<section class="pt40 pb40">
	<article class="container">
		
		
			<aside class="col-xs-1 col-sm-12"></aside>
			<aside class="col-xs-11 col-sm-12">
			<ol class="tos">
				<p class="mb20 tos">The following terms and conditions or any modifications in the future are the contract between you and your company and Livehelp.com LLC. Through using our software applications, website, and other services connected to us, you acknowledge that you have understood, read, agree, and accept to be bound by the recent version of our terms and conditions. 
You can always review our updated terms and conditions at our website anytime you want. We always update this page to serve you with the highest level of convenience and satisfaction. Through this page, you will understand more about our company’s regulations when it comes to accessing information. That is why we want you to review this page so that you will be updated with some of the changes we have made. 
If you don’t agree with our terms and conditions, please do not use our services.<
				</p>

				<li>Grant of Limited License
					<ol>
					<p class="mb20 tos">
					Subject to the user’s compliance with terms including maintaining the registration with accurate and current information as well as applicable fees’ prompt payment without limitation, Livehelp.com LLC hereby grants users a non-transferable, non-exclusive, revocable, worldwide license to have access and make use of the services. Each right not expressly granted to any user is reserved by Livehelp.com LLC as well as its licensors. 
					</p>
					
					<li>Without the explicit permission from Livehelp.com LLC, you cannot:
						<ol>
							<li>Use the service marks or trademarks of the company;</li>
							<li>Modify, alter, remove or obscure the trademarks from the company’s services;</li>
							<li>Obscure, alter or modify the services; </li>
							<li>Either implicitly, explicitly or thought acts of omission by representing yourself as acting on behalf of the company.</li>
						</ol>
					</li>
					</ol>
				</li>
				
				<li>Intellectual Property Rights
					<p class="mb20 tos">				
					Our services are protected by trademark, copyright as well as some US laws and foreign countries. Except as expressly given in the terms, the company owns all right, interest, and title in mind and to services including all intellectual property rights. You won’t remove, obscure or alter any trademark, copyright, service mark or some property rights notices that are incorporated or accompanying our services.  Livehelp.com LLC always appreciates suggestions or other feedbacks about our company but you should understand that we can’t use such feedbacks without any obligation to compensate you for them. You grant us a worldwide, non-exclusive, royalty-free, transferable, perpetual license in using, modifying, publishing, performing, deriving or adapting new works from your feedback as we select. 
					</p>
					
					
				</li>
				<li>Rights and duties of the parties
					<ol>
						<li>During term of validity of this AGREEMENT LICENSER shall not modify SOFTWARE source code excepting HTML-code that is integrated by LICENSEE to the code of LICENSEE's web site code; shall not modify the design of SOFTWARE user interface excluding design modification means that are available via CONTROL PANEL.</li>
						<li>LICENSER is free to change the RATE for purchase of new LICENSES without preliminary notice. Change of the Rate has no effect on LICENSES which have been purchased prior to change of the RATE.</li>
					</ol>
				</li>
				
				<li>Terms of payment and transfer of rights
					<ol>
						<li>In order to purchase the LICENSE LICENSEE should make an order by means of CONTROL PANEL and specify parameters of the license: OPTIONS set, maximum number of AGENTS and period of use.</li>
						<li>LICENSEE shall pay license fee to LICENSER for the right of SOFTWARE use according to the RATE and chosen LICENSE parameters.</li>
						<li>LICENSEE shall pay the invoice by transferring to LICENSER 100% of amount which is indicated in the invoice. The invoice is created by LICENSEE using CONTROL PANEL.</li>
						<li>LICENSER shall transfer the right of SOFTWARE use (activate LICENSE) within 3 (three) working days from the date of the payment arrival to LICENSER's account taking into consideration the limitations which have been specified in LICENSE.</li>
						<li>In case if LICENSER does not receive written claim regarding the scope of furnished rights from LICENSEE within 10 (ten) days from the date of LICENSE fee payment, it is considered that LICENSEE is properly and comprehensively provided with nonexclusive right of SOFTWARE use.</li>
						<li>LICENSEE has the right to refuse to use Software and to request 100% money-back within 10 (ten) working days from the date of LICENSE fee payment. On expiry of this period no money-back will be performed.</li>
					</ol>
				</li>
				
				<li>License extension
					<ol>
						<li>In order to add new OPTIONS to LICENSE or to increase the number of AGENTS LICENSEE shall purchase new LICENSE via AGENT CONSOLE as an owner.</li>
						<li>LICENSE is extended according to the RATE which is actual at the moment of extension.</li>
					</ol>
				</li>
				
				<li>Responsibilities of the parties
					<ol>
						<li>In case if LICENSEE breaches his duty to pay the fee which is specified by the AGREEMENT then LICENSER has the right to withdraw unilaterally from the AGREEMENT and claim for compensation for damages caused by termination of the AGREEMENT.</li>
						<li>LICENSER shall not compensate LICENSEE'S damages caused by SOFTWARE use and/or impossibility of SOFTWARE use, disclosure of information regarding SOFTWARE use to the third parties, and other damages directly or indirectly related to SOFTWARE use and/or impossibility of SOFTWARE use, including loss of profit.</li>
					</ol>
					
				</li>
				
				<li>Term of validity, alteration and termination of the agreement
					<ol>
						<li>This AGREEMENT will come into effect from the moment of acceptance of the terms of this AGREEMENT by LICENSEE and remain valid for the period which is determined by purchased LICENSE.</li>
						<li>When new license is purchased the AGREEMENT is automatically extended for new term in compliance with the conditions of newly purchased LICENSE.</li>
						<li>The PARTIES can terminate this AGREEMENT by mutual consent or on the grounds provided by the legislation.</li>
						<li>Either PARTY can refuse to fulfill this AGREEMENT unilaterally by notification of the other party via electronic communication means at least 30 (thirty) days prior to the termination date.</li>
						<li>LICENSER has the right to make alteration of the terms of this AGREEMENT via introduction of new AGREEMENT text at LICENSER'S web site and notification of LICENSEE by mail at least 30 (thirty) days prior to the date when new terms are brought into effect.</li>
						<li>In case if the terms of this AGREEMENT are violated by LICENSEE, LICENSER is entitled to terminate the AGREEMENT anticipatory and block the access to the server immediately without preliminary notification of LICENSEE.</li>
					</ol>
				</li>
				
				<li>Final provisions
					<ol>
						<li>If any of terms or provisions of the AGREEMENT are recognized as invalid or inapplicable by any court or administrative body of competent jurisdiction that will have no effect on the validity or possibility of enforced fulfillment of any other provisions or terms of the AGREEMENT, which remain completely valid unless otherwise provided by legislation.</li>
						<li>The matters which are not regulated by this AGREEMENT are regulated according to legislation.</li>
						<li>By acceptance of the terms provided by this AGREEMENT LICENSEE agrees to receive additional information and mailing to the address and/or the phone number which have been specified at registration.</li>
					</ol>
				</li>
			</ol>
		</aside>
	</article>
	
</section>