@charset "utf-8";
/* color:#fdec4e;     yellow*/

/* Import Global Reset */
@import url("reset.css");
@import url("common.css");
@import url("960_24_col.css");
/* Global Elements ENDS */

@charset "utf-8";
/* CSS Document */

body, input, textarea, option, select, p {
font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
font-weight: 600;
font-stretch: normal;
font-size: 12px;
line-height: 18px;
}

body {
color: #B1B1B1;
height: 100%;
line-height: 1.3em;
width: 100%;
/*background: url(../images/week_overview.png) no-repeat center top;*/
background:url(../images/bg.png) repeat-x center top #1a6e6a;
}

body::selection {
background: ##FFD202;
}

::selection {
background: #FFC117;
color: white;
text-shadow: none;
}
#wrapper {
clear: both;
min-height: 100%;
width: 100%;
}

#header_wrapper {
/*background: url(../images/bg_header_1.png) repeat-x;
*/}

#header_wrapper .wrapper {
height: 78px;
background: url(../images/bg_header.png) center top no-repeat;
padding-bottom: 34px;
}

.wrapper {
position: relative;
text-align: left;
}

#content_wrapper {
/*padding-bottom: 46px;
height: 560px;
background: url(../images/light_2.png) center top no-repeat;*/
}

#content_wrapper {
-moz-text-shadow: 0 1px 0 white;
-webkit-text-shadow: 0 1px 0 white;
-o-text-shadow: 0 1px 0 white;
text-shadow: 0 1px 0 white;
}

.wrapper {
position: relative;
text-align: left;
}

#footer_wrapper .wrapper {
background: url(../images/bg_footer.png) no-repeat center bottom;
height: 77px;
}

#header_wrapper h1 {
background: url(../images/logo_up4sure.png) no-repeat;
position: absolute;
top: 27px;
left: 40px;
text-indent: -10000px;
}

#copy,  #copy a {
color: #76E3E3;
text-shadow: 0 -1px 0 #81C1C1;
}

#copy {
position: absolute;
left: 40px;
top: 30px;
}

#logo {
position: absolute;
left: 814px;
top: 30px;
}

#header_wrapper h1 a {
display: block;
width: 100px;
height: 27px;
}

#login {
position: absolute;
left: 774px;
top: 30px;
color: #76E3E3;
text-shadow: 0 -1px 0 #81C1C1;
}

#login a {
text-shadow: 0 -1px 0 #81C1C1;
color: #76E3E3;
}


#logo a {
text-indent: -10000px;
width: 100px;
height: 27px;
background: url(../images/logo_up4sure.png) no-repeat;
display: block;
}

#content_wrapper h2 {
text-align: center;
/*margin-top: 38px;*/
color: #4D4C60;
font-size: 16px;
margin-bottom: 10px;
}

#week {
position: relative;
height: 31px;
margin-bottom: 10px;
}

.next {
position: absolute;
display: block;
width: 97px;
background: url(../images/btn_nxt.png) no-repeat;
left: 844px;
height: 31px;
text-indent: -10000px;
}

.previous {
width: 97px;
height: 31px;
background: url(../images/btn_prv.png) no-repeat;
display: block;
text-indent: -10000px;
position: absolute;
left: 742px;
}

.alternate td,  .alternate th {
background: url(../images/bg_stripe.png) repeat-x center center;
}

th, td {
text-align: center;
border: 1px solid #F2F5F6;
/*height: 59px;*/
line-height: 59px;
color: #ADCACA;
}

img {
vertical-align: middle;
}

th h3 {
text-align: left;
text-indent: 30px;
color: #4D4C60;
font-size: 14px;
}

div.table {padding:0 5px;}

h6 {
line-height: 1.5em;
}

.date {
padding: 0px 5px;
height: 0;
line-height: 13px !important;
width: 85px;
}

.tooltip {
	color: white;

background: #76E3E3;
text-shadow: 0 -1px 0 #61BABA;
border: 1px solid #61BABA;
border-radius: 3px;
padding: 5px 8px;
font-size: 10px;
}

.definition div {
float: left;
margin-right: 30px;
margin-left: 40px;
}

.definition {
float: right;
margin-top: 26px;
}

.definition img {
margin-right: 10px;
}

#content_wrapper .wrapper {
padding-top: 37px;
background: url(../images/bg_body.png) center top no-repeat;
height: 563px;
margin-bottom: 48px;
}

.sever_details td, .sever_details th {
width: 190px;
color: #4D4C60;
font-size: 14px;
}

.sever_details {
margin-top: 50px;
}