/* Icons from directory "" */
.icon-answer-key,.icon-answer-key\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat;display: block;background-size: 100%;background-size: 100%;}
.icon-answer-key-dims{width:  30%;height:105px}
.icon-doc-audio,.icon-doc-audio\:regular{background-image:url('icons/icons.svg');background-position:0 -105px;background-repeat:no-repeat}
.icon-doc-audio-dims{width:105px;height:105px}
.icon-doc-excel,.icon-doc-excel\:regular{background-image:url('icons/icons.svg');background-position:0 -210px;background-repeat:no-repeat}
.icon-doc-excel-dims{width:105px;height:105px}
.icon-doc-image,.icon-doc-image\:regular{background-image:url('icons/icons.svg');background-position:0 -315px;background-repeat:no-repeat}
.icon-doc-image-dims{width:105px;height:105px}
.icon-doc-keynote,.icon-doc-keynote\:regular{background-image:url('icons/icons.svg');background-position:0 -420px;background-repeat:no-repeat}
.icon-doc-keynote-dims{width:105px;height:105px}
.icon-doc-misc,.icon-doc-misc\:regular{background-image:url('icons/icons.svg');background-position:0 -525px;background-repeat:no-repeat}
.icon-doc-misc-dims{width:105px;height:105px}
.icon-doc-pdf,.icon-doc-pdf\:regular{background-image:url('icons/icons.svg');background-position:0 -630px;background-repeat:no-repeat}
.icon-doc-pdf-dims{width:105px;height:105px}
.icon-doc-ppt,.icon-doc-ppt\:regular{background-image:url('icons/icons.svg');background-position:0 -735px;background-repeat:no-repeat}
.icon-doc-ppt-dims{width:105px;height:105px}
.icon-doc-smart,.icon-doc-smart\:regular{background-image:url('icons/icons.svg');background-position:0 -840px;background-repeat:no-repeat}
.icon-doc-smart-dims{width:105px;height:105px}
.icon-doc-worddoc,.icon-doc-worddoc\:regular{background-image:url('icons/icons.svg');background-position:0 -945px;background-repeat:no-repeat}
.icon-doc-worddoc-dims{width:105px;height:105px}
.icon-folder-open,.icon-folder-open\:regular{background-image:url('icons/icons.svg');background-position:0 -1050px;background-repeat:no-repeat}
.icon-folder-open-dims{width:105px;height:105px}
.icon-folder,.icon-folder\:regular{background-image:url('icons/icons.svg');background-position:0 -1155px;background-repeat:no-repeat}
.icon-folder-dims{width:105px;height:105px}
.icon-link,.icon-link\:regular{background-image:url('icons/icons.svg');background-position:0 -1260px;background-repeat:no-repeat}
.icon-link-dims{width:105px;height:105px}
.icon-passage,.icon-passage\:regular{background-image:url('icons/icons.svg');background-position:0 -1365px;background-repeat:no-repeat}
.icon-passage-dims{width:105px;height:105px}
.icon-question-choice,.icon-question-choice\:regular{background-image:url('icons/icons.svg');background-position:0 -1470px;background-repeat:no-repeat}
.icon-question-choice-dims{width:105px;height:105px}
.icon-question-open,.icon-question-open\:regular{background-image:url('icons/icons.svg');background-position:0 -1575px;background-repeat:no-repeat}
.icon-question-open-dims{width:105px;height:105px}
.icon-question-sort,.icon-question-sort\:regular{background-image:url('icons/icons.svg');background-position:0 -1680px;background-repeat:no-repeat}
.icon-question-sort-dims{width:105px;height:105px}
.icon-quiz,.icon-quiz\:regular{background-image:url('icons/icons.svg');background-position:0 -1785px;background-repeat:no-repeat}
.icon-quiz-dims{width:105px;height:105px}
.icon-resource_system,.icon-resource_system\:regular{background-image:url('icons/icons.svg');background-position:0 -1890px;background-repeat:no-repeat}
.icon-resource_system-dims{width:105px;height:105px}
.icon-resource_system_shared,.icon-resource_system_shared\:regular{background-image:url('icons/icons.svg');background-position:0 -1995px;background-repeat:no-repeat}
.icon-resource_system_shared-dims{width:105px;height:105px}
.icon-rubric,.icon-rubric\:regular{background-image:url('icons/icons.svg');background-position:0 -2100px;background-repeat:no-repeat}
.icon-rubric-dims{width:105px;height:105px}
.icon-templated,.icon-templated\:regular{background-image:url('icons/icons.svg');background-position:0 -2205px;background-repeat:no-repeat}
.icon-templated-dims{width:105px;height:105px}
.icon-trash,.icon-trash\:regular{background-image:url('icons/icons.svg');background-position:0 -2310px;background-repeat:no-repeat}
.icon-trash-dims{width:105px;height:105px}
.icon-video-v1,.icon-video-v1\:regular{background-image:url('icons/icons.svg');background-position:0 -2415px;background-repeat:no-repeat}
.icon-video-v1-dims{width:105px;height:105px}
.icon-video-v2,.icon-video-v2\:regular{background-image:url('icons/icons.svg');background-position:0 -2520px;background-repeat:no-repeat}
.icon-video-v2-dims{width:105px;height:105px}